<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의류 추천 시스템</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        const addressData = {{ address_data | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
<div id="overlay"></div>
<div class="container">
    <h1>의류 추천 시스템</h1>
    <select id="city" onchange="updateGu()"><option value="">시/도 선택</option></select>
    <select id="gu" onchange="updateDong()"><option value="">구/군 선택</option></select>
    <select id="dong"><option value="">읍/면/동 선택</option></select>
    <button onclick="getWeather()">조회</button>
    <div class="result"></div>
</div>

<div class="chat-sidebar" id="chatSidebar">
    <div class="chat-container">
        <div id="chatResponse" class="chat-response"></div>
        <div class="chat-input">
            <input type="text" id="userQuestion" placeholder="궁금한 점을 입력하세요">
            <button onclick="askQuestion()">질문하기</button>
            <button onclick="saveClothing()" id="saveClothingButton">결정하기</button>
        </div>
    </div>
</div>

<button class="open-chat-btn" onclick="toggleChat()"> <i class="fa fa-comments"></i></button>
</body>
</html>